<form>
    <fieldset>
        <legend>Вход</legend>
        <div>
            <label class="login" for="login">Логин</label>
            {{{ inputLogin }}}
        </div>
        <div>
            <label class="login" for="password">Пароль</label>
            {{{ inputPassword }}}
        </div>
        <div>
            {{{ button }}}
        </div>  
        <div>
            <a href="">Нет аккаунта?</a> 
        </div>
    </fieldset>
</form>