<form>
    <fieldset>
        <legend>Вход</legend>
        <div>
            <label class="login" for="login">Логин</label>
            <input type="text" id="login" name="login" required placeholder="Логин">
        </div>
        <div>
            <label class="login" for="password">Пароль</label>
            <input type="password" id="password" name="password" required placeholder="Пароль">
        </div>
        <div class="button">
            <button type="submit">Войти</button>
        </div>  
        <div>
            <a href="">Нет аккаунта?</a> 
        </div>
    </fieldset>
</form>