<article class="grid-init grid">
    <div class="l-nav">
        <p>
            <a href="/profile">Профиль</a> 
        </p>
        <input placeholder="Поиск"></input>
        <div class="box-init">
            <img class="img_chat" src={{ ellipce }}></img>
            <p>Имя собеседника<span>12:30</span></p> 
            <p>Текст последнего сообщения<span>Непрочитанно</span></p>          
        </div>         
    </div>
    <div class="l-header">
        <p>
            <img class="img_chat" src={{ ellipce }}></img>
            <p>Имя собеседника</p>
            <button>+/-</button>        
        </p>
    </div>
    <div class="l-main">
         <p>Дата</p> 
         <div class="box-init">            
            <p>Есть разные способы создания грид-ячеек и грид-областей. 
                Один из способов — это использование грид-линий, за это отвечают 
                свойства grid-column-start, grid-column-end, grid-row-start и grid-row-end. 
                При таком подходе код довольно сложно читать и в случае серьезного изменения макета, 
                придется переписывать большой объем кода. Поэтому мы рассмотрим второй способ — использование 
                grid-template-areas и grid-area <span>12:45</span></p>          
        </div>                     
    </div>
    <div class="l-footer">
        <button>Прикрепить</button>
        <input id="message" placeholder="Сообщение"></input>
        <button>Отправить</button>
    </div>
    
  
    

    
</article>