<div>
    <div class="box">
        <img src={{ ellipce }} class="under" alt="" />
        <img src={{ union }} class="over" alt="" />
    </div>
    <div class="form">
        {{#each labels}}
            {{{ this }}}
        {{/each}}
        
        <a class="a" href="/change_profile">Изменить данные</a> 
        <a class="a" href="/change_password">Изменить пароль</a> 
        <a class="a" href="/chat">Выйти</a> 
    </div>
</div>