<div>
    <div class="box">
        <img src={{ ellipce }} class="under" alt="" />
        <img src={{ union }} class="over" alt="" />
    </div>
<div class="form">{{#each fields}}{{{ this }}}{{/each}}</div>
</div>