<div class="box">
    <img src={{ ellipce }} class="under" alt="avatar" />
    <img src={{ union }} class="over" alt="avatar" />
</div>
<div class="profileform">{{#each fields}}{{{ this }}}{{/each}}</div>
{{#if button }}{{{ button }}}{{/if}}
   

