<div>
    {{{ layoutProfile }}}        
    <a class="a" href="/change_profile">Изменить данные</a> 
    <a class="a" href="/change_password">Изменить пароль</a> 
    <a class="a" href="/chat">Выйти</a> 
</div>