<div>
    {{{ layoutProfile }}}        
    <a class="a" href="/changeprofile">Изменить данные</a> 
    <a class="a" href="/password">Изменить пароль</a> 
    <a class="a" href="/chat">Выйти</a> 
</div>